* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 214, 204);
}

.layout {
  margin: 0.5rem 0.8rem;
}

.banner {
  text-align: center;
  font-size: 50px;
  padding: 1rem;
  background-color: #013dc4;
  color: #e2d3f4;
  margin-bottom: 0.2rem;
}

.menu {
  list-style-type: none;
  background-color: darkcyan;
  justify-content: space-between !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  text-decoration: none;
  color: bisque;
  padding: 1rem;
}

.menu a:hover {
  background-color: darkorange;
}

.submenu a:hover {
  margin: 0.5rem;
  background-color: rgb(110, 13, 104);
}

.sub {
  position: relative;
  display: inline-block;
}

.submenu::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent darkmagenta transparent;
  border-width: 0.5rem;
  top: -0.9rem;
  left: 20%;
  margin: 0;
}

.submenu > li > a {
  display: block;
}

.submenu {
  display: none;
  background-color: darkmagenta;
  position: absolute;
  min-width: 200%;
  z-index: 1;
  border-radius: 5px;
}

.sub:hover .submenu {
  display: block;
}

.find input {
  transition: 0.8s;
  width: 0;
  background: rgb(44, 182, 150);
  border: none;
  outline: none;
}

input::placeholder {
  color: beige;
}

.find a {
  text-align: center;
}

.find:hover input {
  width: 13rem;
  padding: 0.7rem;
  border-bottom: 1.8px solid rgba(204, 255, 0, 0.668);
}

.find input:focus {
  width: 13rem;
  padding: 0.7rem;
  border-bottom: 1.8px solid rgba(204, 255, 0, 0.668);
}

/* footer */

footer {
  background-color: rgb(57, 98, 155);
  color: blanchedalmond;
  font-weight: 600;
  padding: 1.5rem;
}

/* main */
