* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: aquamarine;
}

.layout {
  margin: 0.5rem 0.8rem;
}

header > img {
  width: 100%;
  border-radius: 20px;
}

.menu {
  list-style-type: none;
  background-color: darkcyan;
  justify-content: space-between !important;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.menu a {
  display: block;
  text-decoration: none;
  color: bisque;
  padding: 1rem;
}

.menu a:hover {
  background-color: darkorange;
  border-radius: 10px;
}

.submenu a:hover {
  margin: 0.5rem;
  background-color: rgb(110, 13, 104);
}

.sub {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.submenu::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent darkmagenta transparent;
  border-width: 0.5rem;
  top: -0.9rem;
  left: 20%;
  margin: 0;
}

.submenu {
  display: none;
  background-color: darkmagenta;
  position: absolute;
  min-width: 200%;
  z-index: 1;
  border-radius: 5px;
}

.show {
  display: block;
}

.find input {
  transition: 0.8s;
  width: 0;
  background: rgb(44, 182, 150);
  border: none;
  outline: none;
}

input::placeholder {
  color: beige;
}

.find a {
  text-align: center;
}

.find:hover input {
  width: 13rem;
  padding: 0.7rem;
  border-bottom: 1.8px solid rgba(204, 255, 0, 0.668);
  border-radius: 5px;
}

.find input:focus {
  width: 13rem;
  padding: 0.7rem;
  border-bottom: 1.8px solid rgba(204, 255, 0, 0.668);
  border-radius: 5px;
}

/* footer */

footer {
  background-color: lightskyblue;
  color: black;
  font-weight: 600;
  padding: 1.5rem;
  border-radius: 10px;
}

.social-media {
  margin-left: 10%;
}

.footer-content {
  margin-left: 10%;
}

footer img {
  margin-left: 10%;
  height: 10rem;
}

/* main */

.gotoTopbtn {
  position: fixed;
  padding: 0.5rem;
  border-radius: 10px;
  border-radius: 2px solid white;
  bottom: 1.2rem;
  right: 0.7rem;
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.gotoTopbtn:hover {
  background-color: #000;
  color: #fff;
}

/* container */
.container {
  background-color: aliceblue;
  border-radius: 10px;
  margin: 0.3rem;
}

.container * {
  line-height: 1.6;
  font-size: 1.2rem;
}

.container h1 {
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  border-bottom: 0.2rem dotted gray;
  margin: 1rem 2rem 0.3rem;
}

.content {
  margin: 1rem 4rem;
  padding: 1.5rem;
  font-weight: 400;
  text-align: center;
}

::marker {
  font-weight: 700;
}

ul.content {
  list-style-type: number;
  margin-top: -2.5rem;
}
